<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.project.mapper.DemoMapper">

    <resultMap id="UserResult" type="User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <sql id="UserResultVo">
      select user_id,username,password,create_time,update_time,create_by,update_by from t_user
    </sql>

    <select id="selectUserList" resultMap="UserResult" parameterType="User">
        <include refid="UserResultVo"/>
        <where>
            <if test="userId != null and userId != 0">
                and userId = #{userId}
            </if>
            <if test="username != null and username != ''">
                and username like concat('%',#{username},'%')
            </if>
        </where>
    </select>

    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="UserResultVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" parameterType="User">
        insert into t_user(
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values (
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <delete id="deleteUserById" parameterType="Long">
        delete from t_user where user_id = #{userId}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from t_user where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <update id="updateUser" parameterType="User">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null  and updateTime != ''">update_time = #{updateTime},</if>
        </trim>
        where user_id = #{userId}
    </update>


</mapper>